<!doctype html>
<html ng-app = "myApp">
 <!--(c) Manav Agarwal Manav.agarwal4@gmail.com-->
 <!--Localisation Language tab-->
  <!--Change wallpaper-->
   <!--Incorporate the other notebook template as an app for projects-->
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="Scripts/bootstrap-3.1.1-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="Scripts/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="Scripts/Manav.css">
		<script src="Scripts/jquery-1.11.0.min.js"></script>
		<script src="Scripts/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js" />
		<script src="Scripts/classysocial/js/jquery.classysocial.min.js"></script>
		<script src="Scripts/Content.js"></script>
		<script src="Scripts/js/MyAngular.js"></script>
		<script src="Scripts/ContentEN.js"></script>
		<script src="Scripts/Manav.js"></script>
		<title>MANAV AGARWAL CV</title>
	</head>
	<body>
		<div id="tablet">
			<div id="screen"  ng-controller = "MyController" >
						<img id="Signature" src="Pics/Signature.png" onClick="DownNameTab();"/>
						<div id="Contacts">
							<a href="mailto:Manav.agarwal4@gmail.com">
								<img class="contact" src="Pics/Contacts/email.png">
							</a>
							<a href="http://www.facebook.com/manava1">
								<img class="contact" src="Pics/Contacts/facebook.png">
							</a>
							<a href="http://www.twitter.com/manav_agarwal4">
								<img class="contact" src="Pics/Contacts/twitter.png">
							</a>
							<a href="http://www.github.com/ManavAg">
								<img class="contact" src="Pics/Contacts/github.png">
							</a>
							<a href="http://www.linkedin.com/profile/view?id=49339056">
								<img class="contact" src="Pics/Contacts/linkedin.png">
							</a>
							<a href="http://www.youtube.com/user/manavgravity2209">
								<img class="contact" src="Pics/Contacts/youtube.png">
							</a>
						</div>
						<div id="apps1">
							<span ng-repeat="i in [1,2,3,4]">
								<img 
									class='app' 
									ng-src='Pics/{{i}}.jpg' 
									height= '25%' 
									width= '20%' 
									style='margin-left:3%' 
									data-toggle='modal' 
									data-target='#Modal{{i}}'/>
							</span>
						</div>
						<div id="apps2">
							<span ng-repeat="i in [5,6,7]">
								<img 
									class='app' 
									ng-src='Pics/{{i}}.jpg' 
									height= '25%' 
									width= '20%' 
									style='margin-left:3%' 
									data-toggle='modal' 
									data-target='#Modal{{i}}'/>
							</span>
						</div>
						<div 
							class="modal fade" 
							id="Modal1" 
							tabindex="-1" 
							role="dialog" 
							aria-labelledby="myModalLabel" 
							aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title heading">
											{{Data.ENG.Summary.Heading}}
										</h4>
										<button 
											type="button " 
											class="btn btn-danger btn-xs closeBtn" 
											data-dismiss="modal" 
											aria-hidden="true">
											&times;
										</button>
									</div>
									<div class="modal-body text">
										<div 
											id= "Summary" 
											ng-repeat="Point in Data.ENG.Summary.Points">
											<span class="glyphicon glyphicon-ok"></span> {{Point}}
											<br/>
										</div>
									</div>
								</div>
							</div>
				</div>
				<div 
					class="modal fade" 
					id="Modal2" 
					tabindex="-1" 
					role="dialog" 
					aria-labelledby="myModalLabel" 
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title heading">
									{{Data.ENG.Education.Heading}}
								</h4>
								<button 
									type="button " 
									class="btn btn-danger btn-xs closeBtn" 
									data-dismiss="modal" 
									aria-hidden="true">
									&times;
								</button>
							</div>
							<div class="modal-body text">
								<div id= "Education" ng-repeat="Edu in Data.ENG.Education.Educations">
									<div id="accordion">
										<div class="panel">
											<h4>
												<a 
													data-toggle="collapse" 
													data-parent="#accordion" 
													href="#{{Edu.Id}}">
													<div class="ClassHeader">
														<span class="glyphicon glyphicon-book"></span>
														<b>{{Edu.School}}</b>
													</div>
												</a>
											</h4>
											<div id="{{Edu.Id}}" class="collapse">
												<div class="normaltext">
													{{Edu.Degree}}<br>
													{{Edu.Desc}} <br>
													<i>Professional Thesis</i>: "{{Edu.Thesis}}"<br>
													<i>{{Edu.Keywords}}</i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div 
					class="modal fade" 
					id="Modal3" 
					tabindex="-1" 
					role="dialog" 
					aria-labelledby="myModalLabel" 
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title heading">{{Data.ENG.Work.Heading}}</h4>
								<button 
									type="button " 
									class="btn btn-danger btn-xs closeBtn" 
									data-dismiss="modal" 
									aria-hidden="true">
									&times;
								</button>
							</div>
							<div class="modal-body text">
								<div id= "Work" ng-repeat="Work in Data.ENG.Work.Works">
									<div id="accordion">
										<div class="panel">
											<h4>
												<a 
													data-toggle="collapse" 
													data-parent="#accordion" 
													href="#{{Work.Id}}">
													<div class="ClassHeader">
														<span class="glyphicon glyphicon-book"></span>
														<b>{{Work.Company}}</b>
													</div>
												</a>
											</h4>
											<div id={{Work.Id}} class="collapse">
												<div class="normaltext">
													<i>
														{{Work.Role}}<br>
														{{Work.Department}} <br>
													</i>
													{{Work.Desc1}}<br>
													{{Work.Desc2}}<br>
													<i>{{Work.Keywords}}</i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div 
					class="modal fade" 
					id="Modal4" 
					tabindex="-1" 
					role="dialog" 
					aria-labelledby="myModalLabel" 
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title heading">
									{{Data.ENG.Languages.Heading}}
								</h4>
								<button 
									type="button " 
									class="btn btn-danger btn-xs closeBtn" 
									data-dismiss="modal" 
									aria-hidden="true">
									&times;
								</button>
							</div>
							<div class="modal-body text">
								<table class= "table table-bordered table-hover">
									<thead>
										<tr class= "success">
											<th>Language</th>
											<th>Description</th>
											<th>Level</th>
										</tr>
									</thead>
									<tbody>
										<tr id= "Languages" ng-repeat="Lang in Data.ENG.Languages.Langs">
											<td><b>{{Lang.Name}}</b></td>
											<td>{{Lang.Desc}}</td>
											<td>{{Lang.Level}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div 
					class="modal fade" 
					id="Modal5" 
					tabindex="-1" 
					role="dialog" 
					aria-labelledby="myModalLabel" 
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title heading">{{Data.ENG.IT.Heading}}</h4>
								<button 
									type="button " 
									class="btn btn-danger btn-xs closeBtn"
									data-dismiss="modal" 
									aria-hidden="true">
									&times;
								</button>
							</div>
							<div class="modal-body text">
								<ul class="nav nav-tabs">
										<li id= "IT" ng-repeat="Sector in Data.ENG.IT.Sectors">
											<a href="#{{Sector.Id}}" data-toggle="tab">{{Sector.Name}}</a>
										</li>
								</ul>
								<div class="tab-content">
									<div 
										class="tab-pane active" 
										id = {{Data.ENG.IT.Sectors.Sector1.Id}}>
										<table class= "table table-bordered table-hover">
											<thead>
												<tr class= "success">
													<th style="width:30%">Tool</th>
													<th style="width:50%">Description</th>
													<th style="width:15%">Level</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="Lang in Data.ENG.IT.Sectors.Sector1.Langs">
													<td>{{Lang.Name}}</td>
													<td class = "ITDesc">{{Lang.Desc}}</td>
													<td><span class = "stars1">{{Lang.Rating}}</span></td>
												</tr>
											</tbody>
										</table>
									</div>
									<div 
										class="tab-pane" 
										ng-repeat="Sector in Data.ENG.IT.Sectors"
										id = {{Sector.Id}}>
										<table class= "table table-bordered table-hover">
											<thead>
												<tr class= "success">
													<th style="width:30%">Tool</th>
													<th style="width:50%">Description</th>
													<th style="width:15%">Level</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="Lang in Sector.Langs">
													<td>{{Lang.Name}}</td>
													<td class = "ITDesc">{{Lang.Desc}}</td>
													<td><span class = "stars1">{{Lang.Rating}}</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>		
							</div>
						</div>
					</div>
				</div>
				
				<div 
					class="modal fade" 
					id="Modal6" 
					tabindex="-1" 
					role="dialog" 
					aria-labelledby="myModalLabel" 
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title heading">
									{{Data.ENG.Projects.Heading}}
								</h4>
								<button 
									type="button " 
									class="btn btn-danger btn-xs closeBtn" 
									data-dismiss="modal" 
									aria-hidden="true">
									&times;
								</button>
							</div>
							<div class="modal-body text">
								<ul class="nav nav-tabs">
										<li ng-repeat="Sector in Data.ENG.Projects.Sectors">
											<a href="#{{Sector.Name}}" data-toggle="tab">
												{{Sector.Name}} Projects
											</a>
										</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active">
										<div ng-repeat="Project in Data.ENG.Projects.Sectors.Sector1.Projects">
											<div id="accordion">
												<div class="panel"><h4>
													<a 
														data-toggle="collapse" 
														data-parent="#accordion" 
														href="#{{Project.Id}}">
														<div class="ClassHeader">
															<span class="glyphicon glyphicon-book"></span>
															<b>{{Project.Name}}</b>
														</div>
													</a></h4>
													<div id= {{Project.Id}} class="collapse">
														<div class="normaltext">
															{{Project.Desc}}
															<br/>
															<i><b>
																{{Project.Thesis?("Thesis : " + Project.Thesis):""}}
															</b></i>
															<br/>
															<i>{{Project.KeyWords}}</i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div 
										class="tab-pane" 
										ng-repeat="Sector in Data.ENG.Projects.Sectors" 
										id = {{Sector.Name}}>
										<div ng-repeat="Project in Sector.Projects">
											<div id="accordion">
												<div class="panel"><h4>
													<a 
														data-toggle="collapse" 
														data-parent="#accordion" 
														href="#{{Project.Id}}">
														<div class="ClassHeader">
															<span class="glyphicon glyphicon-book"></span>
															<b>{{Project.Name}}</b>
														</div>
													</a></h4>
													<div id={{Project.Id}} class="collapse">
														<div class="normaltext">
															{{Project.Desc}}
															<br/>
															<i><b>{{Project.Thesis?("Thesis : " + Project.Thesis):""}}</b></i>
															<br/>
															<i>{{Project.KeyWords}}</i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>		
							</div>
						</div>
					</div>
				</div>
				<div 
					class="modal fade" 
					id="Modal7" 
					tabindex="-1" 
					role="dialog" 
					aria-labelledby="myModalLabel" 
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title heading">
									{{Data.ENG.Hobbies.Heading}}
								</h4>
								<button 
									type="button " 
									class="btn btn-danger btn-xs closeBtn" 
									data-dismiss="modal" 
									aria-hidden="true">
									&times;
								</button>
							</div>
							<div class="modal-body text">
								<div 
									ng-repeat="Hobby in Data.ENG.Hobbies.Hobbies" 
									id="accordion">
									<div class="panel"><h4>
										<a 
											data-toggle="collapse" 
											data-parent="#accordion" 
											href="#{{Hobby.Id}}">
											<div class="ClassHeader">
												<span class="glyphicon glyphicon-book"></span>
												<b>{{Hobby.Name}}</b>
											</div>
										</a></h4>
										<div id={{Hobby.Id}} class="collapse">
											<div class="normaltext">
												{{Hobby.Desc}}
												<br/>
												<i>{{Hobby.KeyWords}}</i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
